
.bodyStuff{
	display: none;
	align-content: center;
}
 
tr{
	padding-bottom: 6px;
	border-style: solid;
	border-width: 1px;
	display: block;
	margin: auto;
	text-align: center;
}

h2 { color: #F90B6D; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 34px; 
	font-weight: 300; 
	line-height: 40px; 
	margin: 0 0 16px; }

.expandMessage:hover{
	font-size: 14px;
	display:block;
	background-color: #F90B6D;
	transition: all 0.3s ease;

}

.newMessageBox{
	display: block;
	margin:auto;
	color: red;
}

.dates{
	color: #F90B6D; 
	font-family: 'Open Sans', sans-serif;
	background-color: lightgrey;
}

.bodyStuff:first-letter{
    display:block;
    align-content: center;
    float:left;
    margin:3px;
    color: white;
    font-size:300%;
}
